.sr-only {
  display: none !important;
}

.mg-top {
  margin-top: 1em;
}

.section-title {
  font-family: 'Barlow Semi Condensed';
  text-align: center;
  color: #424242;
}

.about-me-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-grid {
  margin: auto;
}

.container-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-ball-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 6em;
}

.ball-icon {
  background-color: #424242;
  width: 0.5em;
  height: 0.5em;
  border-radius: 1em;
  opacity: 0.6;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container-grid {
    max-width: 51em !important;
  }
}