.hide-scrollbar {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.container-scroll {
  overflow: scroll;
  height: 32em;
}

@media screen and ( min-height: 700px ) {
  .container-scroll {
    height: 41em;
  }
}