.bg {
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.standard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.app-logo img {
  max-width: 100%;
  max-height: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .app-logo {
    max-width: 325px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 601px) {
  .app-logo {
    max-width: 500px;
  }
}